<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover" />
        <meta http-equiv="Cache-Control" content="public" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="x-dns-prefetch-control" content="on" />
        <meta name="application-name" content="SpotifyEmbed" />
        <meta name="description" content="Embed for Spotify Connect" />
        <title>SpotifyEmbed - flittis.xyz</title>

        <!-- Stylesheets and Scripts -->
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet" />
        <link href="/Assets/Reset.css" rel="stylesheet" async />
        <link href="/Assets/App.css" rel="stylesheet" async />

        <script src="/Assets/App.js"></script>
    </head>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" style="display: none; visibility: hidden; pointer-events: none;">
        <defs>
            <path id="icon_play" d="M9.3418 21.3711C9.71094 21.3711 10.0361 21.2393 10.4404 21.002L20.8203 14.999C21.5762 14.5596 21.8926 14.2168 21.8926 13.6631C21.8926 13.1094 21.5762 12.7754 20.8203 12.3271L10.4404 6.32422C10.0361 6.08691 9.71094 5.95508 9.3418 5.95508C8.62109 5.95508 8.11133 6.50879 8.11133 7.37891V19.9473C8.11133 20.8262 8.62109 21.3711 9.3418 21.3711Z" fill="currentColor"/>
            <path id="icon_add_queue" d="M16.6607 8.72322H22.5357C22.7262 8.72322 22.8899 8.65774 23.0268 8.52679C23.1638 8.39584 23.2321 8.23215 23.2321 8.03572C23.2321 7.83929 23.1638 7.6756 23.0268 7.54465C22.8899 7.41369 22.7262 7.34822 22.5357 7.34822H16.6607C16.4643 7.34822 16.2977 7.41369 16.1607 7.54465C16.0238 7.6756 15.9554 7.83929 15.9554 8.03572C15.9554 8.23215 16.0238 8.39584 16.1607 8.52679C16.2977 8.65774 16.4643 8.72322 16.6607 8.72322ZM16.6607 13.1518H22.5357C22.7262 13.1518 22.8899 13.0863 23.0268 12.9554C23.1638 12.8244 23.2321 12.6608 23.2321 12.4643C23.2321 12.2678 23.1638 12.1042 23.0268 11.9732C22.8899 11.8363 22.7262 11.7679 22.5357 11.7679H16.6607C16.4643 11.7679 16.2977 11.8363 16.1607 11.9732C16.0238 12.1042 15.9554 12.2678 15.9554 12.4643C15.9554 12.6608 16.0238 12.8244 16.1607 12.9554C16.2977 13.0863 16.4643 13.1518 16.6607 13.1518ZM6.69643 17.5803H22.5357C22.7262 17.5803 22.8899 17.5149 23.0268 17.384C23.1638 17.247 23.2321 17.0804 23.2321 16.884C23.2321 16.6875 23.1638 16.5238 23.0268 16.3929C22.8899 16.2619 22.7262 16.1964 22.5357 16.1964H6.69643C6.50596 16.1964 6.34227 16.2619 6.20536 16.3929C6.06846 16.5238 6 16.6875 6 16.884C6 17.0804 6.06846 17.247 6.20536 17.384C6.34227 17.5149 6.50596 17.5803 6.69643 17.5803ZM6.69643 22H22.5357C22.7262 22 22.8899 21.9315 23.0268 21.7947C23.1638 21.6637 23.2321 21.503 23.2321 21.3126C23.2321 21.1161 23.1638 20.9494 23.0268 20.8125C22.8899 20.6816 22.7262 20.6161 22.5357 20.6161H6.69643C6.50596 20.6161 6.34227 20.6816 6.20536 20.8125C6.06846 20.9494 6 21.1161 6 21.3126C6 21.503 6.06846 21.6637 6.20536 21.7947C6.34227 21.9315 6.50596 22 6.69643 22ZM10.3304 14.6428C10.9137 14.6428 11.4643 14.5298 11.9821 14.3036C12.506 14.0774 12.9673 13.7649 13.3661 13.3661C13.7649 12.9673 14.0774 12.509 14.3036 11.9911C14.5357 11.4673 14.6518 10.9107 14.6518 10.3214C14.6518 9.52977 14.4554 8.80656 14.0625 8.15179C13.6756 7.49703 13.1518 6.97619 12.4911 6.58929C11.8364 6.19643 11.1161 6 10.3304 6C9.5387 6 8.81549 6.19643 8.16072 6.58929C7.51192 6.97619 6.99108 7.49703 6.59822 8.15179C6.20536 8.80656 6.00893 9.52977 6.00893 10.3214C6.00893 10.9107 6.12203 11.4673 6.34822 11.9911C6.57441 12.5149 6.88393 12.9762 7.27679 13.375C7.6756 13.7739 8.13691 14.0863 8.66073 14.3125C9.18453 14.5327 9.74108 14.6428 10.3304 14.6428ZM10.3304 13.0447C10.1637 13.0447 10.0298 12.9941 9.92858 12.8929C9.82739 12.7917 9.7768 12.6608 9.7768 12.5001V10.8661H8.15179C7.99108 10.8661 7.86013 10.8185 7.75894 10.7232C7.65774 10.622 7.60715 10.4881 7.60715 10.3214C7.60715 10.1548 7.65774 10.0238 7.75894 9.92858C7.86013 9.82739 7.99108 9.7768 8.15179 9.7768H9.7768V8.15179C9.7768 7.98512 9.82739 7.8512 9.92858 7.75001C10.0298 7.64881 10.1637 7.59822 10.3304 7.59822C10.4911 7.59822 10.6221 7.64881 10.7233 7.75001C10.8244 7.8512 10.875 7.98512 10.875 8.15179V9.7768H12.509C12.6697 9.7768 12.8006 9.82739 12.9018 9.92858C13.003 10.0238 13.0536 10.1548 13.0536 10.3214C13.0536 10.4881 13.003 10.622 12.9018 10.7232C12.8006 10.8185 12.6697 10.8661 12.509 10.8661H10.875V12.5001C10.875 12.6608 10.8244 12.7917 10.7233 12.8929C10.6221 12.9941 10.4911 13.0447 10.3304 13.0447Z" fill="currentColor"/>
            <path id="icon_checkmark" d="M14 22.54C15.166 22.54 16.2646 22.3145 17.2959 21.8633C18.3271 21.418 19.2354 20.8027 20.0205 20.0176C20.8057 19.2324 21.4209 18.3271 21.8662 17.3018C22.3115 16.2705 22.5342 15.1689 22.5342 13.9971C22.5342 12.8311 22.3086 11.7324 21.8574 10.7012C21.4121 9.66992 20.7969 8.76172 20.0117 7.97656C19.2266 7.19141 18.3184 6.57617 17.2871 6.13086C16.2559 5.68555 15.1572 5.46289 13.9912 5.46289C12.8252 5.46289 11.7266 5.68555 10.6953 6.13086C9.66992 6.57617 8.76172 7.19141 7.9707 7.97656C7.18555 8.76172 6.57031 9.66992 6.125 10.7012C5.67969 11.7324 5.45703 12.8311 5.45703 13.9971C5.45703 15.1689 5.67969 16.2705 6.125 17.3018C6.57617 18.3271 7.19434 19.2324 7.97949 20.0176C8.76465 20.8027 9.66992 21.418 10.6953 21.8633C11.7266 22.3145 12.8281 22.54 14 22.54ZM13.0771 18.084C12.9189 18.084 12.7783 18.0488 12.6553 17.9785C12.5322 17.9082 12.415 17.8027 12.3037 17.6621L10.2471 15.1396C10.1006 14.958 10.0273 14.7705 10.0273 14.5771C10.0273 14.3721 10.0947 14.1992 10.2295 14.0586C10.3701 13.9121 10.543 13.8389 10.748 13.8389C10.8711 13.8389 10.9824 13.8652 11.082 13.918C11.1875 13.9707 11.29 14.0645 11.3896 14.1992L13.042 16.3086L16.5312 10.71C16.7012 10.4346 16.9121 10.2969 17.1641 10.2969C17.3574 10.2969 17.5303 10.3613 17.6826 10.4902C17.8408 10.6133 17.9199 10.7773 17.9199 10.9824C17.9199 11.0762 17.8965 11.1729 17.8496 11.2725C17.8086 11.3662 17.7588 11.457 17.7002 11.5449L13.8066 17.6533C13.6191 17.9404 13.376 18.084 13.0771 18.084Z" fill="currentColor"/>
        </defs>
    </svg>

    <body>
        <% 
            let Self = locals.currentItem, User = locals.User || {}, AllItems = locals.allItems; 
            let parseTime = (ms) => {
                let m = Math.floor(ms / 60000), s = Math.floor((ms % 60000) / 1000);
              
                return `${m}:${(s < 10 ? '0' + s : s)}`;
            }
        %>
        
        <row class="Track">
            <img class="Track__cover-image" src="<%= Self.album.image %>" alt="Track cover">

            <column class="Track__content" justify="between">
                <row class="Track__content-top" align="center" justify="between">
                    <row class="Track__top-buttons">
                        <row class="Button Button__queue" onclick="window.Spotify.queue(this, '<%= Self.uri %>')" align="center">
                            <svg viewBox="0 0 28 28" class="Button__icon" id="NotInQueue"> <use href="#icon_add_queue"></use> </svg>
                            <h5 class="Button__label" id="NotInQueue">Add to Queue</h5>

                            <svg viewBox="0 0 28 28" class="Button__icon" id="InQueue"> <use href="#icon_checkmark"></use> </svg>
                            <h5 class="Button__label" id="InQueue">In Queue</h5>
                        </row>
                    </row>

                    <a href="<%= User.uri %>">
                        <row class="Track__top-user" align="center">
                            <h5 class="User__name"><%= User.name %></h5>
                            <img class="User__avatar" src="<%= User.image %>" alt="">
                        </row>
                    </a>
                </row>

                <column class="Track__content-bottom">
                    <h2 class="Track__name<%= Self.explicit == true ? ' explicit' : '' %>"><a href="<%= Self.uri %>"><%= Self.name %></a></h2>
                    <h5 class="Track__artist"><a href="<%= Self.artists[0].uri %>"><%= Self.artists[0].name %></a> — <a href="<%= Self.album.uri %>"><%= Self.album.name %></a></h5>
                </column>
            </column>
        </row>

        <% if(locals.type == 'album' && AllItems) { %>
            <div class="Album">
                <div class="Album__content">
                    <% for(const i in AllItems) { 
                    let Track = AllItems[i]
                    %>
                        <row class="Album__track" align="center">
                            <h4 class="Album__track-index"><%= Number(i) + 1 %></h4>
                            <h4 class="Album__track-name<%= Self.explicit == true ? ' explicit' : '' %>"><%= Track.name %></h4>
                            <h4 class="Album__track-duration"><%= parseTime(Track.duration) %></h4>
                            <div class="Album__track-queuebutton" onclick="window.Spotify.queue(this, '<%= Track.uri %>')">
                                <svg class="Queuebutton__icon" id="NotInQueue" viewBox="0 0 28 28" > <use href="#icon_add_queue"></use> </svg>
                                <svg class="Queuebutton__icon" id="InQueue" viewBox="0 0 28 28" > <use href="#icon_checkmark"></use> </svg>
                            </div>
                        </row>
                    <% } %>
                </div>
            </div>
        <% } %>

        <div class="Background" style="--image: url('<%- Self.album.image %>');"></div>

    </body>
</html>
